---
url: https://developers.facebook.com/docs/sharing/domain-verification
title: Domain Verification - Sharing
status: 200
---

![](https://googleads.g.doubleclick.net/pagead/viewthroughconversion/963623955/?guid=ON&script=0)

![](https://dc.ads.linkedin.com/collect/?pid=276116&fmt=gif)

![](https://analytics.twitter.com/i/adsct?txn_id=nz7m3&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0)

![](https://t.co/i/adsct?txn_id=nz7m3&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0)

![](https://facebook.com/security/hsts-pixel.gif)

[Meta logo](https://developers.facebook.com/?no_redirect=true)

MoreMoreMore

DocsDocsDocs

ToolsToolsTools

SupportSupportSupport

Search input

​

[LoginLoginLogin](https://business.facebook.com/business/loginpage/?is_work_accounts=true&login_options[0]=FB&login_options[1]=SSO&config_ref=biz_login_tool_flavor_dfc&app=436761779744620&next=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fsharing%2Fdomain-verification%3Fnav_ref%3Dbiz_unified_f3_login_page_to_dfc)

[Sharing](https://developers.facebook.com/docs/sharing)

- [Overview](https://developers.facebook.com/docs/sharing/overview)
- [iOS](https://developers.facebook.com/docs/sharing/ios)
- [Android](https://developers.facebook.com/docs/sharing/android)
- [Web](https://developers.facebook.com/docs/sharing/web)
- [Messenger](https://developers.facebook.com/docs/sharing/messenger)
- [Sharing to Stories](https://developers.facebook.com/docs/sharing/sharing-to-stories)
- [Webmasters](https://developers.facebook.com/docs/sharing/webmasters)
- [Domain Verification](https://developers.facebook.com/docs/sharing/domain-verification)


  - [Verifying Your Domain](https://developers.facebook.com/docs/sharing/domain-verification/verifying-your-domain)
  - [Ad Link Editing](https://developers.facebook.com/docs/sharing/domain-verification/ad-link-editing)
  - [Webmaster Tool](https://developers.facebook.com/docs/sharing/domain-verification/webmaster-tool)

- [Best Practices](https://developers.facebook.com/docs/sharing/best-practices)

On This Page

[Domain Verification](https://developers.facebook.com/docs/sharing/domain-verification#domain-verification)

[What is Domain Verification?](https://developers.facebook.com/docs/sharing/domain-verification#what)

[Who is Domain Verification for?](https://developers.facebook.com/docs/sharing/domain-verification#who)

[Domain Verification in Action](https://developers.facebook.com/docs/sharing/domain-verification#action)

# Domain Verification

The integrity of content on Meta technologies is a serious concern, and domain verification is a step towards ensuring that only verified owners can edit the way their content appears on Meta technologies. Many publishing apps use link editing to customize and create engaging content for the Meta community. In an effort to preserve this essential functionality in a way that protects the integrity of publishers' content, verified link owners will now have the ability to overwrite link metadata when creating link page posts.

## What is Domain Verification?

Domain Verification provides a way for you to claim ownership of your domain in [Business Manager](https://business.facebook.com/). This ownership allows you to control editing privileges of your links and other content to prevent misuse of your domain and to keep bad actors from spreading misinformation.

## Who is Domain Verification for?

Domain Verification is the best way to handle ownership if:

- You have a larger number of Pages that are difficult to maintain manually via Open Graph markup tags
- You have adopted or have the ability to adopt Business Manager to manage your assets
- You have the ability to upload HTML files to the web root directory or the ability to edit DNS TXT records
- You can edit Link Page Posts that link to content you own—ownership will eventually serve as a means to determine who has access to link editing
- You want to control who can edit link descriptions on ads pointing to your domain

## Domain Verification in Action

Play

0:00

Mute

Enter Fullscreen

Sharing and reporting options

![](https://static.xx.fbcdn.net/rsrc.php/v4/y4/r/-PAXP-deijE.gif)

Something went wrong

We're having trouble playing this video.

[Learn more](https://www.facebook.com/help/396404120401278/list)

On This Page

[Domain Verification](https://developers.facebook.com/docs/sharing/domain-verification#domain-verification)

[What is Domain Verification?](https://developers.facebook.com/docs/sharing/domain-verification#what)

[Who is Domain Verification for?](https://developers.facebook.com/docs/sharing/domain-verification#who)

[Domain Verification in Action](https://developers.facebook.com/docs/sharing/domain-verification#action)